@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;

  /*font-family: 'Overpass', sans-serif;
    font-family: 'Ubuntu', sans-serif;*/
}

:root {
  --Lighter-red: hsl(356, 100%, 66%);
  --Very-light-red: hsl(355, 100%, 74%);
  --Very-dark-blue: hsl(208, 49%, 24%);

  --White: hsl(0, 0%, 100%);
  --Grayish-blue: hsl(240, 2%, 79%);
  --Very-dark-grayish-blue: hsl(207, 13%, 34%);
  --Very-dark-black-blue: hsl(240, 10%, 16%);

  --Very-light-red: hsl(13, 100%, 72%);
  --Light-red: hsl(353, 100%, 62%);

  --Very-dark-gray-blue: hsl(237, 17%, 21%);
  --Very-dark-desaturated-blue: hsl(237, 23%, 32%);
}
button {
  outline: none;
  cursor: pointer;
}

h1 {
  font-family: "Overpass", sans-serif;
  color: var(--White);
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.5rem;
}
h2,
h3 {
  font-family: "Overpass", sans-serif;
  color: var(--Very-dark-blue);
}
p {
  font-family: "Overpass", sans-serif;
  color: var(--Very-dark-grayish-blue);
}
ul {
  list-style: none;
}
.intro {
  background-color: var(--Very-light-red);
  background-image: url("./images/bg-pattern-intro.svg"),
    linear-gradient(var(--Very-light-red), var(--Light-red));
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 30rem;
  padding: 4rem 7rem;
  border-radius: 0 0 0 6rem;
}
.intro h1,
.intro p {
  text-align: center;
}
.intro h1 {
  font-size: 3rem;
  padding-bottom: 1rem;
}
.intro p {
  color: var(--White);
  padding-bottom: 2rem;
}
header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6.4rem;
}
.hamnav {
  width: 100%;
  position: sticky;
  top: 0;
}
.hamnav > label,
#hamburger {
  display: none;
}
.optionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
}
.optionContainer div {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 0rem 1rem;
}

.optionContainer span {
  color: var(--White);
  font-family: "Overpass", sans-serif;
}

.suboptionContainer {
  display: flex;
}

#productList,
#companyList,
#connectList {
  display: none;
}
.option-active {
  display: flex !important;
  flex-direction: column;
}
.productCheckbox:checked ~ #productList,
.companyCheckbox:checked ~ #companyList,
.connectCheckbox:checked ~ #connectList {
  display: block;
}
.product-active {
  display: flex;
}

.login,
.signUp,
.learnMore,
.startForFree {
  height: 3rem;
  font-weight: bold;
  text-align: center;
  border-radius: 2rem;
  width: 6rem;
  height: 3rem;
  border: none;
}
.signUp,
.startForFree {
  width: 8rem;
  color: var(--Lighter-red);
}
.login,
.learnMore {
  background-color: transparent;
  color: var(--White);
}
.learnMore {
  border: 1px solid var(--White);
  width: 8rem;
}
.JoinButtonContainer {
  display: flex;
  justify-content: center;
}
.JoinButtonContainer button {
  margin: 0rem 0.5rem;
}

.firstAndSecondSectionContainer h2 {
  text-align: center;
  margin-bottom: 3rem;
}
.firstAndSecondSectionContainer h3 {
  padding-bottom: 1rem;
}
.firstAndSecondSectionContainer {
  background-image: url("./images/illustration-editor-desktop.svg");
  /*background-position: 60vw 1rem ;*/
  background-position: 60vw 1rem;
  background-size: 50rem auto;
  background-repeat: no-repeat;
  padding: 6rem 0rem 17rem 0rem;
}
.firstSection,
.secondSection {
  margin-right: 50%;
  padding: 2rem 5rem 2rem 10vw;
  word-spacing: 1px;
  word-break: keep-all;
}
.infrastructureSection {
  background-image: url("./images/bg-pattern-circles.svg"),
    linear-gradient(
      90deg,
      var(--Very-dark-gray-blue),
      var(--Very-dark-desaturated-blue)
    );
  background-repeat: no-repeat repeat;
  background-position: -13.5rem -30rem, 0rem 0rem;
  height: 30rem;
  border-radius: 0rem 6rem 0rem 6rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (max-width: 700px) {
  .hamnav label {
    display: inline-block;
    color: white;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }
  #hamburger:checked ~ .optionContainer {
    display: block;
  }
  .optionContainer {
    display: none;
  }
}
